<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <alternate_urls>
            <general>
                <enabled>0</enabled>
                <mapping />
                <remove_store_param/>
            </general>
        </alternate_urls>
    </default>
</config>
